<div class="row">
	<div class="col-md-4 whiteCard">
		<header><h3>Categories</h3></header>
		<div ng-repeat="catalog in catalogs track by $index">
			<a href="#/catalog/{{catalog.name}}/{{catalog.id}}">{{catalog.name}}</a>
		</div>
	</div>
	<div class="col-md-7 whiteCard">
		<header>
			<h3>{{selectedItemName}}
				<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="" ng-show="logInFlag">Add</button>
			</h3>
		</header>
		<div ng-repeat="catItem in catItems track by $index">
			<uib-accordion>
				<uib-accordion-group>
			      <uib-accordion-heading>
			        <a href="">{{catItem.name}}</a>
			      </uib-accordion-heading>
					    {{catItem.description}}
					    <div class="pull-right" style="margin-top: 30px;" ng-show="logInFlag">
							<button type="button" class="btn btn-primary btn-xs">Edit</button>
							<button type="button" class="btn btn-primary btn-xs">Delete</button>
						</div>
			    </uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
</div>