
<div class="row">
	<div class="col-md-4 whiteCard">
		<header><h3>Categories</h3></header>
		<div ng-repeat="catalog in catalogs track by $index">
			<a href="#/catalog/{{catalog.name}}/{{catalog.id}}">{{catalog.name}}</a>
		</div>
	</div>
	<div class="col-md-7 whiteCard">
		<header><h3>Latest Items</h3></header>
		<div ng-repeat="latestCatItem in latestCatItems track by $index">
			<uib-accordion>
				<uib-accordion-group>
			      <uib-accordion-heading>
			        <a href="">{{latestCatItem.name}}</a>
			        <button type="button" id="logInFlag_" ng-click="setLogInFlag()" style="display: none;" />
			      </uib-accordion-heading>
					    {{latestCatItem.description}}
					    <!--div class="pull-right" ng-show="logInFlag" style="margin-top: 30px;">
							<button type="button" class="btn btn-primary btn-xs">Edit</button>
							<button type="button" class="btn btn-primary btn-xs" ng-click="deleteItem(catItem.id)">Delete</button>
						</div-->
			    </uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
</div>